.customContainer {
  display: flex;
  color: black;
  background-color: white;
  border: 2px solid grey;
  border-radius: 1.5rem; /* 3xl in Tailwind */
  padding: 0.75rem; /* p-3 in Tailwind */
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05); /* shadow-xl */
  justify-content: space-between;
  width: 100%;
  height: 5.5rem; /* Tailwind doesn't have h-22, but 5.5rem is close */
}
